<?xml version="1.0" ?>
<robot name="pallet" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="base_link" />	

<joint name="base_joint" type="fixed">
  <parent link="base_link"/>
  <child link="base_body" />
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="base_body">
  <inertial>
    <origin xyz="0.02 0.00 0.00" rpy="0 0 0"/>
    <mass value="3.96714"/>
    <inertia ixx="0.00005324" ixy="0.00000000" ixz="0.00000024"
             iyy="0.00008423" iyz="0.00000000"
             izz="0.00013729"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mecanumrover_description/meshes/pallet.STL"/>
    </geometry>

  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mecanumrover_description/meshes/pallet.STL"/>
    </geometry>
  </collision>
</link>

</robot>