<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find mecanumrover_description)/urdf/mecanum3.xacro"/>
  <arg name="use_gui" default="true" />
  <arg name = "robot_name" default = "master"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="tf_prefix" value="$(arg robot_name)" />
    <remap from="joint_states" to="/$(arg robot_name)/joint_states" />
  </node>

</launch>
